In [246]:
import pandas as pd

data = pd.read_csv("MinorityTransformed20.csv")
print data.shape
data[:10]

(51671, 18)

,Unnamed: 0,display_id,ad_id,clicked,landing_page,campaign_id,advertiser_id,uuid,document_id,platform,geo_location,day,hour,category_id,topic_id,entity_id,source_id,publisher_id
0,0,1459,132913,0,MinorityClass,MinorityClass,MinorityClass,faf57f287517f4,1649164,2,CA,2016-06-14,4,1610.0,16.0,MinorityClass,MinorityClass,MinorityClass
1,1,1459,176834,0,MinorityClass,MinorityClass,MinorityClass,faf57f287517f4,1649164,2,CA,2016-06-14,4,1610.0,16.0,MinorityClass,MinorityClass,MinorityClass
2,2,1459,206927,1,MinorityClass,MinorityClass,MinorityClass,faf57f287517f4,1649164,2,CA,2016-06-14,4,1610.0,16.0,MinorityClass,MinorityClass,MinorityClass
3,3,1820,45305,0,MinorityClass,MinorityClass,MinorityClass,1f73468d752afe,1764575,2,IL,2016-06-14,4,1907.0,184.0,MinorityClass,MinorityClass,MinorityClass
4,4,1820,97384,1,MinorityClass,MinorityClass,MinorityClass,1f73468d752afe,1764575,2,IL,2016-06-14,4,1907.0,184.0,MinorityClass,MinorityClass,MinorityClass
5,5,1820,211049,0,MinorityClass,MinorityClass,1863,1f73468d752afe,1764575,2,IL,2016-06-14,4,1907.0,184.0,MinorityClass,MinorityClass,MinorityClass
6,6,1820,250319,0,MinorityClass,MinorityClass,MinorityClass,1f73468d752afe,1764575,2,IL,2016-06-14,4,1907.0,184.0,MinorityClass,MinorityClass,MinorityClass
7,7,2614,67347,0,MinorityClass,MinorityClass,MinorityClass,2180e7affabb67,341873,3,OH,2016-06-14,4,1513.0,MinorityClass,Unknown,MinorityClass,MinorityClass
8,8,2614,144740,0,MinorityClass,MinorityClass,MinorityClass,2180e7affabb67,341873,3,OH,2016-06-14,4,1513.0,MinorityClass,Unknown,MinorityClass,MinorityClass
9,9,2614,148962,0,MinorityClass,MinorityClass,MinorityClass,2180e7affabb67,341873,3,OH,2016-06-14,4,1513.0,MinorityClass,Unknown,MinorityClass,MinorityClass

In [247]:
data.T.apply(lambda x: x.nunique(), axis=1)

Unnamed: 0       51671
display_id        9994
ad_id            17547
clicked              2
landing_page        21
campaign_id         21
advertiser_id       21
uuid              9993
document_id       7317
platform             3
geo_location        55
day                 14
hour                24
category_id         21
topic_id            21
entity_id           21
source_id           21
publisher_id        21
dtype: int64

In [248]:
# Dropping unnecessary columns
data2 = data[:] # keeping a copy for later
#data.drop(['Unnamed: 0','Unnamed: 0.1','day','display_id','ad_id','landing_page','campaign_id','advertiser_id','uuid','document_id','source_id','geo_location'], axis=1, inplace=True)
data.drop(['Unnamed: 0','display_id','ad_id','uuid','document_id'], axis=1, inplace=True)

In [249]:
data.T.apply(lambda x: x.nunique(), axis=1)

clicked           2
landing_page     21
campaign_id      21
advertiser_id    21
platform          3
geo_location     55
day              14
hour             24
category_id      21
topic_id         21
entity_id        21
source_id        21
publisher_id     21
dtype: int64

In [250]:
from sklearn.model_selection import (train_test_split,GridSearchCV)
from sklearn.linear_model import LogisticRegression
import numpy as np

In [251]:
# Converting to dummies
data = pd.get_dummies(data)

# Splitting into train and test

# X = data.ix[:, data.columns != 'clicked']
# y = data['clicked']
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)
X = data[:37003]
y = data[37003:]

X_train = X.ix[:, X.columns != 'clicked']
X_test = y.ix[:, y.columns != 'clicked']

y_train = X['clicked']
y_test = y['clicked']

print X_train.shape
print X_test.shape
print y_train.shape
print y_test.shape

(37003, 239)
(14668, 239)
(37003L,)
(14668L,)

In [252]:
X_train[:3]

,platform,hour,landing_page_1031141,landing_page_1060089,landing_page_1098103,landing_page_1116986,landing_page_1128940,landing_page_1137800,landing_page_1148731,landing_page_1151028,...,publisher_id_450.0,publisher_id_704.0,publisher_id_714.0,publisher_id_740.0,publisher_id_78.0,publisher_id_784.0,publisher_id_867.0,publisher_id_874.0,publisher_id_875.0,publisher_id_MinorityClass
0,2,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,2,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,2,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [253]:
data2[:20]

,Unnamed: 0,display_id,ad_id,clicked,landing_page,campaign_id,advertiser_id,uuid,document_id,platform,geo_location,day,hour,category_id,topic_id,entity_id,source_id,publisher_id
0,0,1459,132913,0,MinorityClass,MinorityClass,MinorityClass,faf57f287517f4,1649164,2,CA,2016-06-14,4,1610.0,16.0,MinorityClass,MinorityClass,MinorityClass
1,1,1459,176834,0,MinorityClass,MinorityClass,MinorityClass,faf57f287517f4,1649164,2,CA,2016-06-14,4,1610.0,16.0,MinorityClass,MinorityClass,MinorityClass
2,2,1459,206927,1,MinorityClass,MinorityClass,MinorityClass,faf57f287517f4,1649164,2,CA,2016-06-14,4,1610.0,16.0,MinorityClass,MinorityClass,MinorityClass
3,3,1820,45305,0,MinorityClass,MinorityClass,MinorityClass,1f73468d752afe,1764575,2,IL,2016-06-14,4,1907.0,184.0,MinorityClass,MinorityClass,MinorityClass
4,4,1820,97384,1,MinorityClass,MinorityClass,MinorityClass,1f73468d752afe,1764575,2,IL,2016-06-14,4,1907.0,184.0,MinorityClass,MinorityClass,MinorityClass
5,5,1820,211049,0,MinorityClass,MinorityClass,1863,1f73468d752afe,1764575,2,IL,2016-06-14,4,1907.0,184.0,MinorityClass,MinorityClass,MinorityClass
6,6,1820,250319,0,MinorityClass,MinorityClass,MinorityClass,1f73468d752afe,1764575,2,IL,2016-06-14,4,1907.0,184.0,MinorityClass,MinorityClass,MinorityClass
7,7,2614,67347,0,MinorityClass,MinorityClass,MinorityClass,2180e7affabb67,341873,3,OH,2016-06-14,4,1513.0,MinorityClass,Unknown,MinorityClass,MinorityClass
8,8,2614,144740,0,MinorityClass,MinorityClass,MinorityClass,2180e7affabb67,341873,3,OH,2016-06-14,4,1513.0,MinorityClass,Unknown,MinorityClass,MinorityClass
9,9,2614,148962,0,MinorityClass,MinorityClass,MinorityClass,2180e7affabb67,341873,3,OH,2016-06-14,4,1513.0,MinorityClass,Unknown,MinorityClass,MinorityClass
10,10,2614,173130,1,MinorityClass,MinorityClass,MinorityClass,2180e7affabb67,341873,3,OH,2016-06-14,4,1513.0,MinorityClass,Unknown,MinorityClass,MinorityClass
11,11,3586,31279,1,MinorityClass,MinorityClass,MinorityClass,f38a01c5e4a173,1044370,1,SC,2016-06-14,4,2100.0,MinorityClass,MinorityClass,7736.0,450.0
12,12,3586,34906,0,MinorityClass,MinorityClass,1650,f38a01c5e4a173,1044370,1,SC,2016-06-14,4,2100.0,MinorityClass,MinorityClass,7736.0,450.0
13,13,3586,37685,0,MinorityClass,MinorityClass,MinorityClass,f38a01c5e4a173,1044370,1,SC,2016-06-14,4,2100.0,MinorityClass,MinorityClass,7736.0,450.0
14,14,3586,153413,0,MinorityClass,MinorityClass,1913,f38a01c5e4a173,1044370,1,SC,2016-06-14,4,2100.0,MinorityClass,MinorityClass,7736.0,450.0
15,15,3586,153430,0,MinorityClass,MinorityClass,1913,f38a01c5e4a173,1044370,1,SC,2016-06-14,4,2100.0,MinorityClass,MinorityClass,7736.0,450.0
16,16,3586,235104,0,MinorityClass,MinorityClass,MinorityClass,f38a01c5e4a173,1044370,1,SC,2016-06-14,4,2100.0,MinorityClass,MinorityClass,7736.0,450.0
17,17,5161,28346,1,MinorityClass,MinorityClass,MinorityClass,cee8985b70130f,1409862,2,TX,2016-06-14,4,Unknown,MinorityClass,MinorityClass,MinorityClass,MinorityClass
18,18,5161,99277,0,MinorityClass,MinorityClass,MinorityClass,cee8985b70130f,1409862,2,TX,2016-06-14,4,Unknown,MinorityClass,MinorityClass,MinorityClass,MinorityClass
19,19,5161,125326,0,MinorityClass,MinorityClass,MinorityClass,cee8985b70130f,1409862,2,TX,2016-06-14,4,Unknown,MinorityClass,MinorityClass,MinorityClass,MinorityClass

In [254]:
# Logistic regression
logit = LogisticRegression()
logit.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [255]:
# Predict on test
predicted = logit.predict(X_test)

In [256]:
predicted_prob = logit.predict_proba(X_test)
print "predictions for classes:",logit.classes_

# Getting prob of click
click_prob = predicted_prob[:,1]
click_prob[:30]

predictions for classes: [0 1]

array([ 0.26442547,  0.26442547,  0.04717199,  0.14510495,  0.23262607,
        0.23262607,  0.07311079,  0.23262607,  0.23262607,  0.23262607,
        0.27516775,  0.20311718,  0.30417381,  0.30417381,  0.30417381,
        0.30417381,  0.25514853,  0.05815173,  0.10311877,  0.06733771,
        0.3095451 ,  0.3095451 ,  0.11514053,  0.11514053,  0.11514053,
        0.11514053,  0.11514053,  0.11514053,  0.11514053,  0.11514053])

In [275]:
# MAP function
def apk(actual, predicted, k=12):
    if len(predicted)>k:
        predicted = predicted[:k]
    score = 0.0
    num_hits = 0.0
    for i,p in enumerate(predicted):
        if p in actual and p not in predicted[:i]:
            num_hits += 1.0
            score += num_hits / (i+1.0)
    if not actual:
        return 0.0
    return score / min(len(actual), k)

def mapk(actual, predicted, k=12):
    return np.mean([apk(a,p,k) for a,p in zip(actual, predicted)])

In [258]:
# Assigning probabilities to test
#test_index = X_test.index.values.tolist()

#test_fin = data2[data2.index.isin(test_index)]
test_fin = data2[37003:]
test_fin = test_fin[['display_id','ad_id','clicked']]
test_fin['predict'] = click_prob

# Sorting probability in descending order - test
test_fin = test_fin.sort_values(by=['display_id','predict'], ascending=[True, False])
test_fin2 = test_fin[['display_id','ad_id']].groupby('display_id')['ad_id'].agg(lambda col: ' '.join(map(str,col)))

# Sorting probability in descending order - real
real = test_fin.sort_values(by=['display_id','clicked'], ascending=[True, False])
real2 = real[['display_id','ad_id']].groupby('display_id')['ad_id'].agg(lambda col: ' '.join(map(str,col)))

# Check accuracy
print(mapk(real2,test_fin2))

0.563100728015

In [278]:
a = test_fin2.iloc[3:4]
b = real2.iloc[3:4]
print a
print b
print(mapk(b,a))

display_id
12035906    244979 508124 23690 104707 189812 63889
Name: ad_id, dtype: object
display_id
12035906    23690 244979 508124 104707 189812 63889
Name: ad_id, dtype: object
0.61752044252

In [309]:
test_fin

       display_id   ad_id  clicked   predict
37003    12030830   39068        0  0.264425
37004    12030830   80033        1  0.264425
37006    12030830  300898        0  0.145105
37005    12030830  174547        0  0.047172
37007    12031067   12270        0  0.232626
37008    12031067   15007        0  0.232626
37010    12031067   87000        1  0.232626
37011    12031067  162965        0  0.232626
37012    12031067  164304        0  0.232626
37009    12031067   84937        0  0.073111
37015    12032719  233500        0  0.304174
37016    12032719  418737        0  0.304174
37017    12032719  466189        1  0.304174
37018    12032719  469843        0  0.304174
37013    12032719  167457        0  0.275168
37014    12032719  190216        0  0.203117
37023    12035906  244979        0  0.309545
37024    12035906  508124        0  0.309545
37019    12035906   23690        1  0.255149
37021    12035906  104707        0  0.103119
37022    12035906  189812        0  0.067338
37020    12035906   63889        0  0.058152
37025    12037983   57969        0  0.115141
37026    12037983   87514        0  0.115141
37027    12037983  116261        0  0.115141
37028    12037983  134979        0  0.115141
37029    12037983  155781        0  0.115141
37030    12037983  156147        0  0.115141
37031    12037983  371355        1  0.115141
37032    12037983  379134        0  0.115141
...           ...     ...      ...       ...
51642    16866563  224052        0  0.280169
51643    16866563  371053        1  0.280169
51639    16866563   70817        0  0.097029
51647    16870086   92114        0  0.310325
51648    16870086  148264        1  0.310325
51646    16870086   91879        0  0.129140
51645    16870086   83658        0  0.090553
51649    16870086  497494        0  0.060735
51644    16870086   12564        0  0.056309
51651    16872308  175525        0  0.235583
51652    16872308  197124        1  0.235583
51653    16872308  379324        0  0.235583
51650    16872308  146552        0  0.111709
51655    16873760  164755        0  0.166075
51656    16873760  169549        1  0.166075
51657    16873760  169855        0  0.166075
51658    16873760  245086        0  0.166075
51659    16873760  349398        0  0.166075
51660    16873760  417678        0  0.166075
51661    16873760  418988        0  0.166075
51662    16873760  504469        0  0.166075
51654    16873760   78848        0  0.055995
51663    16874399   56570        0  0.145048
51664    16874399   56634        1  0.145048
51665    16874399   56643        0  0.145048
51666    16874399   98952        0  0.145048
51667    16874399  132019        0  0.145048
51669    16874399  220326        0  0.145048
51670    16874399  491936        0  0.145048
51668    16874399  205277        0  0.044744

[14668 rows x 4 columns]

In [310]:
test_index_range = data2[37003:].groupby('display_id').count()['ad_id'].tolist()

start = 0
num = 0
map12 = 0
for p in test_index_range:
   end = start+p
   temp_pred = click_prob.tolist()[start:end]
   temp = pd.DataFrame(data2[37003:].reset_index().ix[start:end-1][['ad_id','clicked']]).copy().reset_index().drop('index',axis=1)
   df=pd.DataFrame(temp_pred,columns=['prob'])
   temp = pd.concat([temp,df],axis=1)
   temp2= temp.sort_values('prob',ascending=False).reset_index().drop('index',axis=1)
   index = temp2.ix[temp2['clicked']==1].index[0]
   map12 = map12+(1.0/(index+1))
   start = end
print map12/len(test_index_range)

0.524804406461

In [306]:
data2[37003:].ix[:5]

Empty DataFrame
Columns: [Unnamed: 0, display_id, ad_id, clicked, landing_page, campaign_id, advertiser_id, uuid, document_id, platform, geo_location, day, hour, category_id, topic_id, entity_id, source_id, publisher_id]
Index: []